<ion-content>
  <div padding class="form-result">
    <h2>ผลการคำนวณ BMI</h2>
    <ion-grid class="grid-border">
      <ion-row>
        <ion-col no-padding>

          <ion-grid no-padding>
            <ion-row class="row-left">
              <ion-col class="green">
                <label class="sub">ส่วนสูง</label>
                <div>
                  <label class="sub">เซนติเมตร (cm)</label>
                </div>
                <div class="point">
                    {{emi.h}}
                </div>
              </ion-col>
              <!-- <ion-col class="point">
                {{emi.h}}
              </ion-col> -->
            </ion-row>
          </ion-grid>

        </ion-col>
        <ion-col no-padding>

            <ion-grid no-padding>
              <ion-row class="row-right">
                <ion-col class="green">
                  <label class="sub">น้ำหนัก</label>
                  <div>
                    <label class="sub">กิโลกรัม (kg)</label>
                  </div>
                  <div class="point">
                      {{emi.w}}
                  </div>
                </ion-col>
                <!-- <ion-col class="point">
                  {{emi.w}}
                </ion-col> -->
              </ion-row>
            </ion-grid>
  
          </ion-col> 
      </ion-row>
      <ion-row class="padding-top">
        <ion-col>

          <ion-grid no-padding>
            <ion-row>
              <ion-col class="green center">
                <div><label class="sub">BMI</label></div>
                <div><label class="sub">ของคุณคือ</label></div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="red center">
                <div><label class="pointX">{{emi.r}}</label></div>
                <div><label class="sub">{{emi.emiTxt}}</label></div>
              </ion-col>
            </ion-row> 
          </ion-grid>

        </ion-col>
        <ion-col class="center">
          <img *ngIf="emi.img" style="max-width: 70px;" [src]=emi.img />
        </ion-col>
      </ion-row>
    </ion-grid>
    <div style="margin-top: 15px;">
        <div  class="card-button">
            <button ion-button
            (click)="submit()"
            class="button-box button-orange"
            full>บันทึกการคำนวณ
          </button>
          </div>
    </div>
  </div>


  <div class="benefit-form" padding>
    <hr style="height: 1px;">
    <label style="font-weight: bolder;">
      คำแนะนำ
    </label>
    <div class="htmlText" [innerHtml]="emi.detail">
    </div>
  </div>

</ion-content>
