page-result {
  font-family: Kodchasal;
  .scroll-content {
    .title {
      opacity: 0.6;
    }
    .sub {
      font-size: 1.9rem;
    }
    .green {
      color: color($colors, backgound) !important;
    }
    .red {
      color: color($colors, danger) !important;
    }
    .center {
      text-align: center;
    }
    background-color: white !important;
    color: black !important;
    .form-result {
      h2 {
        font-weight: bolder;
        color: color($colors, backgound) !important;
      }
      img {
        // width: 30px;
        // height: 70px;
        // margin-top: 15px;
      }
      .grid-border {
        .padding-top {
          padding : 1rem 0 1rem;
        }
        padding: 10px;
        box-shadow: 2px 5px 8px 1px #a5a5a5;
        border-radius: 10px;
        margin: 10px 0 10px;
        border: 1px solid color($colors, backgound);
        .row-left {
          border-bottom: 1px solid color($colors, backgound);
          border-right: 1px solid color($colors, backgound);
          padding: 0 5px 10px 5px;
        }
        .row-right {
          border-bottom: 1px solid color($colors, backgound);
          border-left: 1px solid color($colors, backgound);
          padding: 0 5px 10px 5px;
        }
      }
      .point {
        font-size: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
      }
      .end {
        text-align: end;
      }
      .pointX {
        font-size: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
      }
      .full-div {
        height: 100%;
      }
      .flex-end {
        display: flex;
        align-items: flex-end;
      }
      .card-button {
        flex: 1;
        .button-box {
          span {
            font-size: 1.5rem;
          }
          max-width: 200px;
          margin: auto;
          font-family: Kodchasal-Bold;
          background-color: #f6b041;
          border-radius: 5px;
          font-size: 1.2rem;
          // box-shadow: 4px 14px 20px -10px #8e7b4d;
        }
      }
    }

    .benefit-form {
      .htmlText {
        line-height: 1.5;
      }
      font-size: 1.9rem;
      .text-header {
        opacity: 0.8;
        font-size: 1.6rem;
      }
      .text-center {

      }
      .right-center {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 10px !important;
      }
      .border-bottom {
        border-bottom: 1px solid color($colors, backgound) !important;
      }
    }
  }
}
