<super-tabs #superTabs  *ngIf="isLoadding" toolbarColor="backgound" toolbarBackground="white" indicatorColor="backgound">
  <super-tab style="color: #adadad;" [root]="tab1Root" title="คำนวณ" icon="ai-fa-tachomter"></super-tab>
  <super-tab [root]="tab2Root" icon="ai-fa-chip" title="ผลลัพธ์"></super-tab>
  <super-tab id="report" [root]="tab3Root" icon="ai-fa-chart" title="สถิติ"></super-tab>
</super-tabs>
 