<ion-header class="header-bmi">
    <ion-navbar>
        <ion-buttons (click)="dismiss()" left> <a ui-sref=""> <span style="color: white;" class="cancle">&nbsp; ยกเลิก </span></a> </ion-buttons>
        <ion-title>
            <img src="assets/icon/main_logo.png" style="max-width : 100px; padding : 15px; display: table;margin: auto;"/>
        </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div padding class="description">
      <label class="title big">เกณฑ์ประเมินดัชนีมวลกาย</label>
      <div class="body-style-list">
          <div class="card-body" *ngFor="let item of data">
            <img src="assets/icon/{{item.style}}" />
            <div style="font-weight: bolder;" class="title">{{item.condition}}</div>
            <div style="font-weight: bolder;" class="title">{{item.name}}</div>
          </div>
      </div>
    </div>
</ion-content>
