page-condition {
  .toolbar-background {
    background-color: color($colors, backgound) !important;
    .toolbar-title {
      color: white;
    }
  }
  .text-input::placeholder {
    font-size: 14px;
  }
  font-family: Kodchasal;
  .title {
    opacity: 0.6;
  }
  .big {
    font-size: 1.6rem;
  }
  .sub{
    opacity: 0.8;
    font-size: 1.2rem;
  }
  .green {
    color: color($colors, backgound) !important;
  }
  .item-inner {
    border: none;
    flex: none !important;
  }
  .scroll-content {
    background-color: white !important;
    color: black !important;

    .description {
      .body-style-list {
        display: flex;
        flex : 3;
        overflow: scroll;
        margin: 10 0 !important;
        flex-wrap: wrap;
        .card-body {
          padding: 10px;
          flex : 1;
          min-width: 140px;
          text-align: center;
        }
      }
      img {
        width: 60px;
        height: 100px;
      }
    }
  }
}
