<ion-content *ngIf="accessibility">
    <div padding class="form-report">
      <h2 style="font-weight: bolder;">สถิติ BMI ของคุณ</h2>
      <label class="name">{{dataProfile.Title}} {{dataProfile.Name}} {{dataProfile.Surname}}</label>
      <div>
        <form [formGroup]="reportForm">
          <ion-grid no-padding>
            <ion-row class="row-left">
              <ion-col>
                <ion-item>
                    <ion-label style="color: black; font-size: 1.5rem; flex: none !important;">วันที่</ion-label>
                    <ion-datetime [max]="startmaxdate" style="flex: 1; font-size: 1.4rem;" (ionChange)="dateStartChange()"  #picker placeholder="กรุณาเลือกวันที่" formControlName="startDate" [(ngModel)]="startDate" cancelText="ยกเลิก" doneText="ตกลง" displayFormat="DD-MM-YYYY" pickerFormat="DD MMMM YYYY" ></ion-datetime>
                    <button (click)="picker.open()" ion-button class="no-padding no-margin" clear color="dark" type="button" item-right> <ion-icon style="font-size: 12px; color: #2bb362;" name="ios-arrow-down-outline"> </ion-icon> </button>
                  </ion-item>
              </ion-col>

              <ion-col> 
                  <ion-item>
                      <ion-label style="color: black; font-size: 1.5rem;  flex: none !important;">ถึงวันที่</ion-label>
                      <ion-datetime [min]="startmindate" (ionChange)="dateEndChange()" style="flex: 1; font-size: 1.4rem;"  #picker2 placeholder="กรุณาเลือกวันที่" formControlName="endDate" [(ngModel)]="endDate" cancelText="ยกเลิก" doneText="ตกลง" displayFormat="DD-MM-YYYY" pickerFormat="DD MMMM YYYY" ></ion-datetime>
                      <button (click)="picker2.open()" ion-button class="no-padding no-margin" clear color="dark" type="button" item-right> <ion-icon style="font-size: 12px; color: #2bb362;"  name="ios-arrow-down-outline"> </ion-icon> </button>
                    </ion-item>
              </ion-col>

            </ion-row>
          </ion-grid>

          <ion-grid style="" no-padding>
              <ion-row>
                <ion-col class="center" style="text-align: end;">
                  <div class="card-button custom2">
                    <button ion-button
                      type="button"
                      (click)="submit()"
                      style=" width: 130px !important;height: 35px; margin-top: 10px;"
                      class="button-box button-orange"
                      > <img src="assets/icon/bmi_seektime_btn.png"  scroll="false" width="20px">&nbsp; แสดง BMI
                    </button>
                  </div>
                </ion-col>
                <ion-col class="center" style="text-align: left;">
                  <button type="button" style=" width: 130px !important;height: 35px;" (click)="reset()" ion-button class="button-box  button-clear2 custom" clear>ล้างข้อมูล</button>
                </ion-col>
              </ion-row>
            </ion-grid> 
        </form> 
      </div>
    </div> 

    <div padding class="table-report">
      <div style="position: relative;">
        <label class="title">
          BMI ของคุณ
        </label>
        <div class="card-right card-button">
            <button ion-button
            (click)="openGraph()"
            style="height: 35px;"
              class="button-box  button-red"
              full> <ion-icon class="fa fa-area-chart" width="20px"></ion-icon>&nbsp; แสดงกราฟสถิติ
            </button>
        </div>
      </div>

      <ion-grid style="font-size:1.6rem; margin-top: 25px; position: absolute; padding:0px;left: 0;">
        <ion-row class="header-table">
          <ion-col class="middle" col-4>วันที่</ion-col>
          <ion-col class="middle" col-2>BMI</ion-col>
          <ion-col class="middle" col-3>เปลี่ยนแปลง</ion-col>
          <ion-col col-3>
            <div class="card-button">
              <button ion-button
                *ngIf="!editStatus"
                (click)="actionEdit()"
                class="button-box button-white"
                full> <ion-icon class="fa fa-pencil" width="20px"></ion-icon>&nbsp;  แก้ไข
              </button>
              <button ion-button
                *ngIf="editStatus"
                (click)="actionEdit()"
                class="button-box button-white"
                full> เสร็จ
              </button> 
          </div></ion-col>
        </ion-row>

        <ion-row class="table" *ngFor="let items of data;let i = index">
            <ion-col class="middle" col-4>{{items.RecordDate | datePipe}}</ion-col>
            <ion-col class="middle" col-2><label  style="font-size:1.6rem;" [ngClass]="{ 'red': items.color == 'red', 'green': items.color === 'green', 'orange': items.color === 'orange'}" >{{items.BMI}}
            </label></ion-col>
            <ion-col class="middle" col-3><label style="font-size:1.6rem;" [ngClass]="{ 'red': items.color == 'red', 'green': items.color === 'green', 'orange': items.color === 'orange'}" >{{items.Diff}}</label></ion-col>
            <ion-col col-3> 
              <div class="card-button">
                <button ion-button
                  *ngIf="editStatus"
                  (click)='delete(items.Id, i)'
                  class="button-box button-delete"
                  full> <ion-icon class="fa fa-times" style="color: red;" width="20px"></ion-icon>&nbsp;  ลบ
                </button>
            </div></ion-col>
          </ion-row>
      </ion-grid>
    </div>
</ion-content>

<ion-content class="login" *ngIf="!accessibility">
  <div class="content" style="margin-bottom: 80px;">รายการแสดงผลสำหรับสมาชิกเท่านั้น<br>กรุณาทำการเข้าสู่ระบบโดยคลิกปุ่มด้านล่าง</div>
  <div class="content"> 
    <div class="card-button">
      <button ion-button
      (click)="login()"
              class="button-box"
              full> เข้าสู่ระบบ
      </button>
    </div>
  </div>
</ion-content>
