page-contact {
  .red {
    color: red;
  }
  .green {
    color: green;
  }
  .orange {
    color: orange;
  }
  .row-left {
    flex-wrap: nowrap !important;
  }
  .login {
    .scroll-content {
      display: flex !important;
      flex-direction: column;
      justify-content: center;
      padding: 10% !important;

      .content {
        font-size: 1.9rem;
        width: 100%;
        text-align: center;
        .button-box {
          border-radius: 5px;
          font-size: 1.2rem;
          // box-shadow: 4px 14px 20px -10px #8e7b4d;
        }
      }
    } 
  }
  font-family: Kodchasal;
  .scroll-content {
    .no-padding {
      padding: 0px !important;
      margin: 0px !important;
    }
    background-color: white !important;
    color: black !important;
  }
  .title {
    opacity: 0.6;
  }
  .table {
    height: 50px;
    border-bottom: 1px solid #d8d8d8;
  }
  .custom2 {
    padding: 0 10px;
    .button-box {
    }
  }
  label {
    font-size: 1.9rem;
  }
  .card-button {
    max-width: 300px;
    margin: auto;
    .button-box {
      height: 35px;
      margin-top: 15px;
      border-radius: 5px;
      font-family: Kodchasal-Bold;
      background-color: #f6b041;
      border-radius: 5px;
      // box-shadow: 4px 14px 20px -10px #8e7b4d;
      span {
        font-size: 1.5rem;
      }
      margin: auto;
      // box-shadow: 4px 14px 20px -10px #8e7b4d;
    }
    .button-orange {
      background-color: #f6b041;
    }
    .button-red {
      background-color: #fd5d11;
    }
    .button-white {
      background-color: white;
      color: color($colors, backgound) !important;
    }
    .button-delete {
      background-color: white;
      color: #fd5d11 !important;
      border: 1px solid #fd5d11;
      box-shadow: none !important;
      border-radius: 5px;
    }
  }
  .middle {
    display: flex;
    align-items: center;
  }
  .card-right {
    position: absolute;
    top: -5px;
    right: 0;

  }
  .form-report {
    border-bottom: 1px solid darkgrey;
    -webkit-box-shadow: 2px 2px 9px 1px #b9b9b9;
    box-shadow: 2px 2px 9px 1px #b9b9b9;
    .name {
      font-family: Kodchasal-Bold;
      font-size: 1.4rem;
      opacity: 1;
      font-weight: bolder;
    }
    h2 {
      color: color($colors, backgound) !important;
    }

    ion-item {
      padding: 0px;
      ion-input{
        margin: 0;
      }

      .item-inner {
        font-size: 1.4rem;
        border: none !important;
        .datetime {
          border-bottom: 0.55px solid #c8c7cc !important;
        }
      }
    }

    .center {
      text-align: center;
    }
    .custom {
      border: 1px solid;
      width: 110px;
    } 
    .button-clear2 {
      color: #b5b5b5 !important;
      font-family: Kodchasal-Bold;
      border-radius: 5px;
      // box-shadow: 4px 14px 20px -10px #8e7b4d;
      span {
        font-size: 1.5rem;
      }
      font-weight: bold;
      width: 150px;
      margin-top: 10px;
      border-radius: 7px;
    }
  }
  .table-report {
    margin-top: 5px;
    .header-table {
      background-color: color($colors, backgound) !important;
      color: white;
    }
    .middle {
      justify-content: center;
      text-align: center;
    }
  }
}
