page-home {
  .toolbar-background {
    background-color: color($colors, backgound) !important;
    .toolbar-title {
      color: white;
    }
  }
  .text-input {
    font-size: 2rem !important;
  }
  .text-header {
    font-weight: bolder;
    opacity: 0.8;
    font-size: 2rem;
  }
  .text-center {
    font-size: 1.8rem;
  }
  .border-bottom {
    border-bottom: 1px solid color($colors, backgound) !important;
  }
  .right-center {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px !important;
  }
  .item-inner {
    border: none !important;
    box-shadow: none !important;
    font-size: 1.8rem;
  }
  .text-input::placeholder {
    font-size: 1.9rem;
  }
  font-family: Kodchasal;
  .title {
    opacity: 0.6;
  }
  .big {
    font-weight: bolder;
    color : color($colors, backgound) !important;
    font-size: 2.2rem;
    opacity: 1 !important;
  }
  .sub{
    opacity: 0.8;
    font-size: 1.8rem;
  }
  .green {
    color: color($colors, backgound) !important;
  }
  .item-inner {
    border: none;
    flex: none !important;
  }
  // .text-input {
  //   font-size: 2rem !important;
  // }
  .scroll-content {
    background-color: white !important;
    color: black !important;
    .form-bmi{
      h2 {
        color: color($colors, backgound) !important;
      }
      border-bottom: 1px solid darkgrey;
      box-shadow: 2px 2px 9px 1px #b9b9b9; 
      ion-item {
        padding: 0px;
        ion-input{
          margin: 0;
          .text-input {
            border-bottom: 0.55px solid #c8c7cc;
            margin: 0;
            width: 100%;
            
          }
        }

        .item-inner {
          border: none !important;
        }
      }
      .card-button {
        .button-box {
          font-family: Kodchasal-Bold;
          background-color: #f6b041;
          border-radius: 5px;
          // box-shadow: 4px 14px 20px -10px #8e7b4d;
          span {
            font-size: 1.5rem;
          }
        }
      }
    }

    .description {
      .body-style-list {
        display: flex;
        flex-direction: column;
        overflow: scroll;
        margin: 10 0 !important;
        .card-body {
          display: flex;
          padding: 10px;
          flex : 1;
          flex-direction: row;
          min-width: 140px;
          text-align: center;
        }
      }
      img {
        align-self: center;
        max-width: 60px;
        width: 60px;
        height: 100px;
      }
    }
  }
}
