<ion-content>
  <form [formGroup]="calculateFrom">
    <div padding class="form-bmi">
      <h2 style="font-weight: bolder;">คำนวณ BMI</h2>
      <ion-item> 
        <ion-label item-left style="font-size: 2rem; color: black !important;">ส่วนสูง</ion-label>
        <ion-input commaNumber formControlName="height" item-left [(ngModel)]="factor.height" placeholder="กรุณากรอกตัวเลข"></ion-input>
        <ion-label item-right style="color: black !important;" class="sub">เซนติเมตร (cm)</ion-label>
      </ion-item>
      <ion-item>   
        <ion-label item-left style="font-size: 2rem; color: black !important;">น้ำหนัก</ion-label>
        <ion-input inputNumber formControlName="weight" item-left [(ngModel)]="factor.weight" placeholder="กรุณากรอกตัวเลข"></ion-input>
        <ion-label item-right style="color: black !important;" class="sub">กิโลกรัม (kg)</ion-label>
      </ion-item> 
      <div  class="card-button">
        <button ion-button
          class="button-box button-orange"
          (click)="submit()"
          full> คำนวณ
        </button>
      </div>
    </div>
  </form>
  <div padding class="description">
      <label class="title big">เกณฑ์ประเมินดัชนีมวลกาย</label>
      <div class="body-style-list">
        <!-- <div> -->
          <div class="card-body" *ngFor="let item of data">
            <div style="flex:1; display: flex; align-items: center; justify-content: center;">
              <img src="assets/icon/{{item.style}}" />
            </div>
            <div style="font-size: 1.7rem; flex:1; flex-direction: column; display: flex; align-items: center; justify-content: center;" >
              <div style="font-weight: bolder;" class="title">{{item.condition}}</div>
              <div style="font-weight: bolder;" class="title">{{item.name}}</div>
            </div>
          </div>
        <!-- </div>  -->
      </div>
      <!-- <ion-scroll style="height: 200px">
          <ion-list>
             <ion-item *ngFor="let item of data">
               <div class="card-body" >
                <img src="assets/icon/{{item.style}}" />
                <div style="font-weight: bolder;" class="title">{{item.condition}}</div>
                <div style="font-weight: bolder;" class="title">{{item.name}}</div>
              </div>
            </ion-item>
          </ion-list>
        </ion-scroll> -->
    <div>
        <label class="text-header">
            วิธีคำนวณหาค่า BMI
          </label>
          <div class="text-center">
            <ion-grid  no-padding>
              <ion-row>
                <ion-col class="right-center">
                  <label>
                    ดัชนีมวลกาย =
                  </label>
                </ion-col>
      
                <ion-col>
                  <ion-row style="width: 150px;" class="border-bottom">
                      <ion-col no-padding>
                        <label>
                          น้ำหนักตัว(กิโลกรัม)
                        </label>
                      </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col no-padding>
                      <label>
                          [ความสูง(เมตร)]<sup>2</sup>
                      </label>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
    </div>
  </div>
</ion-content>
