// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";
$fa-font-path: $font-path;
@import "font-awesome";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  white:      #ffffff,
  dark:       #222,
  backgound : #2ab363
);

// $base: (
//   backgound : #59bb6e
// );


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

// @import "ionic.ionicons";
@import "ionicons";
  
// Fonts
// -------------

@font-face {
  font-family: "Kanit-Regular";
  font-style: normal;
  //font-weight: 300;
  src: local("Kanit Regular"), local("Kanit-Regular"), url("../assets/fonts/Kanit-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Kanit-SemiBold";
  font-style: normal;
  //font-weight: 300;
  src: local("Kanit SemiBold"), local("Kanit-SemiBold"), url("../assets/fonts/Kanit-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Kodchasal";
  font-style: normal;
  //font-weight: 300;
  src: local("Kodchasal"), local("Kodchasal"), url("../assets/fonts/Kodchasal.ttf") format("truetype");
}

@font-face {
  font-family: "Kodchasal-Blod";
  font-style: normal;
  //font-weight: 300;
  src: local("Kodchasal-Blod"), local("Kodchasal-Blod"), url("../assets/fonts/Kodchasal-Bold.ttf") format("truetype");
}
