<ion-header class="header-bmi">
  <ion-navbar>
      <ion-buttons (click)="dismiss()" left> <a ui-sref=""> <ion-icon class="end fa fa-angle-left" style="margin-left: 5px;" width="20px"></ion-icon></a> </ion-buttons>
      <!-- <img src="assets/icon/main_logo.png" width="30%" style="max-width : 100px; padding : 5px; display: table;margin: auto;"/> -->
      <ion-title>
        <img src="assets/icon/main_logo.png" style="max-width : 100px; padding : 15px; display: table;margin: auto;"/>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div padding class="form-report">
    <h2>สถิติ BMI ของคุณ</h2>
    <label class="name">{{dataProfile.Title}} {{dataProfile.Name}} {{dataProfile.Surname}}</label>
    <div style="margin-top: 10px;">
        <ion-grid no-padding>
          <ion-row class="row-left">
          <label  style="color: black; font-size: 1.5rem;">วันที่ <span class="text-green">{{startDate | datePipe}}</span></label>
          <label style="color: black; font-size: 1.5rem;">&nbsp;ถึงวันที่ <span class="text-green">{{endDate | datePipe}}  &nbsp;</span></label>
          <button ion-button
            class="button-box button-orange"
            (click)="openModal()"
            style="width: 97px; margin-top: -10px;"> <img src="assets/icon/bmi_seektime_btn.png"  scroll="false" width="20px">แสดง BMI
          </button>
        </ion-row>
      </ion-grid> 
    </div>
  </div> 

  <div class="chart" style="display: block; padding: 10px;">
    <canvas baseChart width="100%" 
    [datasets]="lineChartData"
    [labels]="lineChartLabels"
    [options]="lineChartOptions"
    [colors]="lineChartColors"
    [legend]="lineChartLegend"
    [chartType]="lineChartType"
    (chartHover)="chartHovered($event)"
    (chartClick)="chartClicked($event)"></canvas>
  </div>


  <div padding class="table-report">
    <ion-grid style="font-size:1.6rem; margin-top: 25px; position: absolute; padding:0px;left: 0;">
      <ion-row class="header-table">
        <ion-col class="middle" col-4>วันที่</ion-col>
        <ion-col class="middle" col-2>BMI</ion-col>
        <ion-col class="middle" col-3>เปลี่ยนแปลง</ion-col>
        <ion-col col-3>
          <div class="card-button">
            <button ion-button
              *ngIf="!editStatus"
              (click)="actionEdit()"
              class="button-box button-white"
              full> <ion-icon class="fa fa-pencil" width="20px"></ion-icon>&nbsp;  แก้ไข
            </button>
            <button ion-button
              *ngIf="editStatus"
              (click)="actionEdit()"
              class="button-box button-white"
              full> เสร็จ
            </button> 
        </div></ion-col>
      </ion-row>

      <ion-row class="table" *ngFor="let items of data;let i = index">
          <ion-col class="middle" col-4>{{items.RecordDate | datePipe}}</ion-col>
          <ion-col class="middle" col-2><label [ngClass]="{ 'red': items.color == 'red', 'green': items.color === 'green', 'orange': items.color === 'orange'}" >{{items.BMI}}
          </label></ion-col>
          <ion-col class="middle" col-3><label [ngClass]="{ 'red': items.color == 'red', 'green': items.color === 'green', 'orange': items.color === 'orange'}" >{{items.Diff}}</label></ion-col>
          <ion-col col-3> 
            <div class="card-button">
              <button ion-button
                *ngIf="editStatus"
                (click)='delete(items.Id, i)'
                class="button-box button-delete"
                full> <ion-icon class="fa fa-times" style="color: red;" width="20px"></ion-icon>&nbsp;  ลบ
              </button>
          </div></ion-col>
        </ion-row>
    </ion-grid>
  </div>
</ion-content>

<div #modal class="warpperModal">
  <div class="modal">
    <form [formGroup]="graphForm">
      <div class="warpperContent">
        <div class="title">ค้นหาช่วงเวลา</div>
        <ion-item>
            <ion-label style="color: black; font-size: 1.5rem;">วันที่</ion-label>
            <ion-datetime [max]="startmaxdate" (ionChange)="dateStartChange()" style="color: #2bb362;" #pickerModal placeholder="กรุณาเลือกวันที่" formControlName="startDate" [(ngModel)]="startDate" displayFormat="DD-MM-YYYY" pickerFormat="DD MM YYYY" ></ion-datetime>
            <button (click)="pickerModal.open()" ion-button class="no-padding no-margin" clear color="dark" type="button" item-right> <ion-icon style="font-size: 12px; color: #2bb362;" name="ios-arrow-down-outline"> </ion-icon> </button>
          </ion-item>
          <ion-item>
            <ion-label style="color: black; font-size: 1.5rem;">ถึงวันที่</ion-label>
            <ion-datetime [min]="startmindate" (ionChange)="dateEndChange()" style="color: #2bb362;" #pickerModal2 placeholder="กรุณาเลือกวันที่" formControlName="endDate"  [(ngModel)]="endDate" displayFormat="DD-MM-YYYY" pickerFormat="DD MM YYYY" ></ion-datetime>
            <button (click)="pickerModal2.open()" ion-button class="no-padding no-margin" clear color="dark" type="button" item-right> <ion-icon style="font-size: 12px; color: #2bb362;" name="ios-arrow-down-outline"> </ion-icon> </button>
          </ion-item>
          <div class="button-card">
            <div class="flexbox">
              <div  class="card-button">
                  <button ion-button
                    type="button"
                    (click)="submit()"
                    class="button-box button-orange"
                    full> <img src="assets/icon/bmi_seektime_btn.png"  scroll="false" width="20px">แสดง BMI
                  </button>
              </div>
            </div>
            <div class="flexbox">
              <div  class="card-button">
                  <button ion-button
                    type="button"
                    (click)="modalDismiss()"
                    style="color: #b5b5b5 !important; border: .2px solid #b5b5b5;"
                    class="button-box button-white"
                    full> ยกเลิก
                  </button>
              </div>
            </div>
          </div>
      </div>
    </form>
  </div>
</div>
