page-graph {
  .red {
    color: red;
  }
  .green {
    color: green;
  }
  .orange {
    color: orange;
  }
  .text-green{
    color: color($colors, backgound) !important;
  }
  font-family: Kodchasal;
  .scroll-content {
    .no-padding {
      padding: 0px !important;
      margin: 0px !important;
    }
    background-color: white !important;
    color: black !important;
  }
  .cancle {
    color: white;
  }
  .title {
    font-size: 2rem;
    font-family: Kodchasal-Bold;
    opacity: 0.6;
  }
  .button-box {
    font-family: Kodchasal-Bold;
    border-radius: 5px;
    font-size: 1.2rem;
    span {
      font-size: 1.5rem;
    }
    // box-shadow: 4px 14px 20px -10px #8e7b4d;
  }
  .button-orange {
    background-color: #ecba27;
  }
  .table {
    height: 50px;
    border-bottom: 1px solid #d8d8d8;
  }
  .card-button {
    max-width: 300px;
    margin: auto;
    flex: 1;
    .button-box {
      border-radius: 5px;
      font-size: 1.2rem;
      // box-shadow: 4px 14px 20px -10px #8e7b4d;
    }
    .button-orange {
      background-color: #ecba27;
    }
    .button-red {
      background-color: #fd5d11;
    }
    .button-white {
      background-color: white;
      color: color($colors, backgound) !important;
    }
    .button-delete {
      background-color: white;
      color: #fd5d11 !important;
      border: 1px solid #fd5d11;
      box-shadow: none !important;
      border-radius: 5px;
    }
  }
  .middle {
    display: flex;
    align-items: center;
  }
  .card-right {
    position: absolute;
    top: -10px;
    right: 0;

  }
  .form-report {
    border-bottom: 1px solid darkgrey;
    -webkit-box-shadow: 2px 2px 9px 1px #b9b9b9;
    box-shadow: 2px 2px 9px 1px #b9b9b9;
    .name {
      font-family: Kodchasal-Bold;
      font-size: 1.4rem;
      opacity: 1;
      font-weight: bolder;
    }
    h2 {
      color: color($colors, backgound) !important;
    }

    ion-item {
      padding: 0px;
      ion-input{
        margin: 0;
      }

      .item-inner {
        font-size: 1.4rem;
        border: none !important;
        .datetime {
          border-bottom: 0.55px solid #c8c7cc !important;
        }
      }
    }

    .center {
      text-align: center;
    }
    .button-clear {
      color: #b5b5b5 !important;
      font-size: 1.4rem;
      font-weight: bold;
    }
  }
  .table-report {
    margin-top: 5px;
    .header-table {
      background-color: color($colors, backgound) !important;
      color: white;
    }
    .middle {
      justify-content: center;
      text-align: center;
    }
  }

  .warpperModal {
    display: none;
    justify-content: center;
    background-color:rgba(0,0,0,0.7) ;
    position: absolute;
    z-index: 1000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    .modal {
      background-color: white;
      border-radius: 10px;
      width: 80%;
      margin: auto;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      height: inherit;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      .warpperContent {
        margin: 20px;
        .title{
          text-align: center;
          opacity: 0.6;
        }
        .button-card {
          margin: 5px 0 0 0;
          display: flex;
          flex-direction: row;
          .flexbox {
            flex: 1;
            padding:  10px;
          }
        }
      }
    }
  }
}
