<ion-menu side="right" swipeEnabled="false" [content]="mycontent">
    <ion-content class="contentMenu">
      <ion-list>
        <p>{{dataProfile.Title}} {{dataProfile.Name}} {{dataProfile.Surname}}</p>
        <p class="subTitle">ข้อมูลส่วนตัว</p>
      </ion-list> 
      <ion-list>
        <ion-item style="text-align: center;" (click)="logout()" menuClose detail-none>ออกจากระบบ</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

<ion-nav #mycontent [root]="rootPage"></ion-nav>
