// http://ionicframework.com/docs/theming/
// @import "./node_modules/ionic2-super-tabs/dist/components/super-tabs";

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
[class^="icon-"], [class*=" icon-"] {
  font-family: 'FontAwesome' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin makeIcon($arg, $val) {
  .ai-#{$arg}:before ,
  .ion-ios-ai-#{$arg}:before ,
  .ion-ios-ai-#{$arg}-outline:before ,
  .ion-md-ai-#{$arg}:before ,
  .ion-md-ai-#{$arg}-outline:before  {
    content: $val;
    font-size: 26px;
  }
}
@include makeIcon(fa-tachomter, '\f0e4');
@include makeIcon(fa-chip, '\f0ea');
@include makeIcon(fa-chart, '\f1fe');

html {
  font-family: Kodchasal;
  button {
    font-family: Kodchasal-Bold;
  }
}
.end {
  align-self: flex-end;
  color: white;
  font-size: 4rem;
}

.button-ios {
  height: 40px;
}
ion-title {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 90px 1px;
  width: 100%;
  height: 100%;
  text-align: center;
}

.title-and-icon:not(.selected) {
  .icon {
    color: #bdbdbd;
  }
  span {
    color: #bdbdbd;
  }
}

.header-bmi {
  .toolbar-background {
    background-color: color($colors, backgound) !important;
    .toolbar-title {
      color: white;
    }
  }
}

.contentMenu {
  .scroll-content {
    font-family: Kodchasal;
    padding: 20px;
    .list {
      p {
        font-family: Kodchasal-Bold;
        font-size: 18px;
        margin: 0px;
      }
      .subTitle {
        font-family: Kodchasal;
        opacity: 0.8;
        font-size: 14px;
      }
    }
  }
}

.back-button {
  font-family: Kodchasal;
  color: white;
}

.tabbar {
  background-color: white !important;
}

.tab-button[aria-selected=true] {
  color: color($colors, backgound) !important;
  .tab-button-icon {
    color: color($colors, backgound) !important;
  }
}

a[aria-selected=true] {
  border-bottom: solid;
 }

ion-app .scroll-content {
  background-color: color($colors, backgound) !important;
  color: white;
}
