<ion-header class="header-bmi">
<ion-navbar>
    <ion-buttons (click)="dismiss()" left> <a ui-sref=""> <ion-icon class="end fa fa-angle-left" style="margin-left: 5px;" width="20px"></ion-icon></a> </ion-buttons>
    <!-- <img src="assets/icon/main_logo.png" width="30%" style="max-width : 100px; padding : 5px; display: table;margin: auto;"/> -->
    <ion-title>
        <img src="assets/icon/main_logo.png" style="max-width : 100px; padding : 15px; display: table;margin: auto;"/>
    </ion-title>
</ion-navbar>
</ion-header>
<ion-content padding>
    <form [formGroup]="authForm">
        <div class="auth">
            <ion-grid>
                <ion-row>
                    <ion-col col-12>
                        <div class="logo">
                            <img src="assets/icon/main_logo.png" />
                        </div>
                    </ion-col>  
                </ion-row>
            </ion-grid>
            <ion-list>
                <ion-item>
                    <ion-label><ion-icon class="fa fa-user"></ion-icon></ion-label>
                    <ion-input placeholder="เลขบัตรประจำตัวประชาชน" formControlName="username" [(ngModel)]="username" type="text"></ion-input>
                </ion-item>

                <ion-item style="margin-top: 20px;">
                    <ion-label><ion-icon class="fa fa-lock"></ion-icon></ion-label>
                    <ion-input placeholder="รหัสผ่าน" formControlName="password" [(ngModel)]="password" type="password"></ion-input>
                </ion-item>

                <ion-list class="margin-top">

                </ion-list>
                <div class="card-button">
                    <button ion-button
                            class="button-box"
                            color="secondary" full
                            (click)="submit()"> เข้าสู่ระบบ
                    </button>
                </div>
            </ion-list>
        </div>
    </form>
</ion-content>
