
page-welcome {
  font-family: Kodchasal;
  .cancle {
    color: white !important;
  }
  .logo {
    margin: 5% 0;
    img {
      padding: 0 20% 0;
    }
  }
  .text-input {
    font-size: 2rem !important;
  }
  .icon {
    color: white;
  }
  .scroll-content {
    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: white;
      opacity: 0.8; /* Firefox */
  }
    padding: 10px 0 !important;

    .list {
      .label {
        opacity: 0.7;
      }
      padding: 0 1rem;
      ion-item {
        border: none !important;
        background-color: transparent !important;
        color: white !important;
      }
      .item-inner {
        border-bottom: 1px solid white !important;
      }
      .item {
        padding-left: 0px;
      }
      .margin-top {
        margin-top: 50px;
      }
      .non-background {
        .item-inner {
          border: 0px !important;
        }
        padding: 10px;
        background-color: transparent;
        border: 0px !important;
      }
    }
    .input-wrapper {
      color: white;
      opacity: 0.9;
      margin-left: 10px !important;
    }
    .card-button {
      margin-top: 20px;
      margin: auto;
      width: 80%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      .button-box {
        font-family: Kodchasal-Bold;
        background-color: #f6b041;
        border-radius: 5px;
        // box-shadow: 4px 14px 20px -10px #8e7b4d;
        span {
          font-size: 1.5rem;
        }
      }
    }
    .forget-pass {
      text-align: center;
      margin-top: 2rem;
      font-size: 1.5rem;
      opacity: 0.8;
    }
  }
}
