<ion-header class="header-bmi">
  <ion-navbar hideBackButton>
    <ion-buttons (click)="dismiss()" left> <a ui-sref=""> <ion-icon class="end fa fa-angle-left" style="margin-left: 5px;" width="20px"></ion-icon> </a> </ion-buttons>
    <ion-title>
      <img src="assets/icon/main_logo.png" style="max-width : 100px; padding : 1px; display: table;margin: auto;"/>
    </ion-title> 
    <ion-buttons *ngIf="accessibility" (click)="openMenu()" end><a ui-sref=""><img src="assets/icon/menu_option.png"  style="max-width : 40px; padding : 5px; display: table;margin: auto;"/></a> </ion-buttons>

    <!-- <ion-buttons *ngIf="accessibility" end>
      <button ion-button menuToggle>
        <img src="assets/icon/menu_option.png"  style="max-width : 40px; padding : 5px; display: table;margin: auto;"/>
      </button>  
    </ion-buttons> -->
  </ion-navbar>
</ion-header> 

<ion-content>
  <page-tabs></page-tabs>
</ion-content>
