<ion-content padding>
  <div class="flexbox">
    <ion-grid>
        <ion-row>
            <ion-col col-12>
                <div class="logo">
                    <img src="assets/icon/main_logo.png" />
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
    <div class="menu-items">
      <ion-list (click)="openEmi()" class="flexboxIcon" no-lines>
          <ion-icon style="width: 45px; border-radius: 50% !important;display: flex;margin: 0 !important;padding: 0 !important;justify-content: center;text-align: center; " ion-item item-start class="fa fa-tachometer"></ion-icon>
          <label class="topic">My BMI</label> 
          <div class="rightWarpper">
            <ion-icon class="end fa fa-angle-right" width="20px"></ion-icon>
          </div>
      </ion-list>
      <ion-list (click)="openTabBrowser(1)" class="flexboxIcon"  no-lines> 
          <ion-icon style="width: 45px; border-radius: 50% !important;display: flex;margin: 0 !important;padding: 0 !important;justify-content: center;text-align: center; " ion-item item-start class="fa fa-heartbeat"></ion-icon>
          <label class="topic">ตรวจสุขภาพ</label> 
          <div class="rightWarpper">
            <ion-icon class="end fa fa-angle-right" width="20px"></ion-icon>
            </div>
      </ion-list>
      <ion-list (click)="openTabBrowser(3)" class="flexboxIcon"  no-lines> 
        <ion-icon style="width: 45px; border-radius: 50% !important;display: flex;margin: 0 !important;padding: 0 !important;justify-content: center;text-align: center; " ion-item item-start class="fa fa-bar-chart"></ion-icon>
        <label class="topic">ระบบสารสนเทศสุขภาพ</label> 
        <div class="rightWarpper">
          <ion-icon class="end fa fa-angle-right" width="20px"></ion-icon>
          </div>
    </ion-list>
      <ion-list (click)="openTabBrowser(2)" class="flexboxIcon"  no-lines>
          <ion-icon style="width: 45px; border-radius: 50% !important;display: flex;margin: 0 !important;padding: 0 !important;justify-content: center;text-align: center; " ion-item item-start class="fa fa-globe"></ion-icon>
          <label class="topic">เยี่ยมชมเว็บไซต์</label> 
          <div class="rightWarpper">
            <ion-icon class="end fa fa-angle-right" width="20px"></ion-icon>
        </div>
      </ion-list>
    </div>
    <div>
    </div>
  </div>
</ion-content>
