
page-menu {
  font-family: Kodchasal-Blod;
  .fa {
    font-family: 'FontAwesome';
    font-style: normal;
  }
  .logo {
    margin: 5% 0;
    img {
      padding: 0 10% 0;
    }
  }
  .scroll-content {
    .item-icon {
      font-size: 2.2rem;
      color: color($colors, backgound) !important;
      .item-inner{
        display: none;
      }
    }
    .rightWarpper{
      flex: none !important;
    }
    .flexboxIcon { 
      min-width: 45px;
      display: flex;
      flex-direction: row;
      align-items: center;
      .topic {
        flex: 1;
        margin-left: 10%;
        font-size: 2.2rem;
        font-weight: bolder;
      }
      .topic :hover {
        opacity: 0.5;
      }
      .rightWarpper {
        flex: 1;
        text-align: end;
        .end {
          align-self: flex-end;
          color: white;
          font-size: 5rem;
        }
      }
    
    }
    .menu-items {
      width: 80%;
      button {
        background-color: transparent;
      }
    }
    .flexbox {
      display: flex;
      flex : 2;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: space-around;
      flex-direction: column;
    }
  }
}
